<h1><%=@aa.title%></h1>

<% unless @submission == 0 %>
  <div class="container">
    <% @assignments.all.each do |a| %>
        <div class="col-xs-6 col-md-3 floating-box" style="height:500px">
            <%=User.find(a.user_id).email%><br>
            <a href="/changmin/assignment/<%=@num%>/<%=a.id%>">
                <img class="assignment" src="<%=a.img_url%>">
            </a>
        </div>
    <% end %>
  </div>
<% else %>
    <div class="container">
      <form action="/changmin/upload_assignment" method="post" enctype="multipart/form-data">
        제목 <input type="text" name="title"class="form-control"><br>
        내용 <textarea rows="4" class="form-control" type="text" name="content"></textarea><br>
         <input type="file" name="pic" accept="image/*">
         <input name="an" type="hidden" value="<%=@num%>">
         <input name="as_type" type="hidden" value="submission">
        <input type="submit" value="Submit">
      </form>
    </div>
<% end %>