<div class="container log-in">
    <h2 class="login-text" style="margin-bottom: 35px;">로그인</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <h4 class="login-text">Email</h5>
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>

        <div class="field">
          <h4 class="login-text">Password</h5>
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <h5 class="login-text"><%= f.check_box :remember_me %>
            Remember me</h5>
          </div>
        <% end -%>
        <div class="actions ">
          <%= f.submit "Log in", class:"btn btn-warning"%>
        </div>
      <% end %>
</div>